.header_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: linear-gradient(rgba(225, 225, 225, 1), rgba(225, 225, 225, 0.3));
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  z-index: 99;
  background: linear-gradient(
    rgba(225, 225, 225, 0.9),
    rgba(225, 225, 225, 0.9)
  );
  position: fixed;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex {
  display: flex;
  align-items: center;
}
.logo_text {
  color: #3d3a3a;
  font-size: 50px;
  font-family: "Ysabeau", sans-serif;
  text-shadow: -2px 3px 2px #fff, -4px 0.5px 1.5px #000;
  cursor: pointer;
}
.logo_text span {
  font-size: 35px;
  text-shadow: 2px 2px 1.5px #8f8787;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}
.navbar ul li {
  padding: 0 15px;
}
.navbar ul .userFlex {
  display: flex;
  flex-direction: column;
}
.navbar ul .userFlex span {
  color: blue;
  font-size: 20px;
  margin: 0 5px 0 0;
}
.navbar ul .userFlex span b {
  text-decoration: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #3d3a3a;
  font-size: 15px;
  cursor: pointer;
}
.navbar ul li a:hover {
  text-decoration: underline;
}
.navbar ul li a.active {
  text-decoration: underline;
}

.btn {
  padding: 10px 30px;
  background: none;
  border: 0.5px solid #3d3a3a;
  border-radius: 25px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.btn:hover {
  background: #3d3a3a;
  color: #fff;
}

.activeHamburger {
  display: none;
}
.activeHamburger i {
  font-size: 30px;
}

.HamburgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 50vh;
  right: 0;
  z-index: 9999;
  background-color: pink;
  overflow: hidden;
}
.HamburgerMenuHide {
  display: none;
}
.HamburgerMenu i {
  font-size: 40px;
  float: right;
  margin: 15px 15px 0 0;
  color: darkmagenta;
  cursor: pointer;
}
/* media query */

@media only screen and (max-width: 902px) {
  .navbar ul .userFlex {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 804px) {
  .Hlist {
    display: none;
  }
  .activeHamburger {
    display: block;
    margin-top: 10px;
  }
  .Mnavbar {
    display: grid;
    place-items: center;
    margin: 25px 0;
  }
  .Mnavbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-family: "Josefin Sans", sans-serif;
  }
  .Mnavbar ul li {
    margin: 16px 0;
  }
  .Mnavbar ul li a {
    text-decoration: none;
    color: #3d3a3a;
    font-size: 20px;
    cursor: pointer;
  }
  .Mnavbar ul li a.active {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 402px) {
  .Mnavbar ul {
    padding: 0 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 246px) {
  .logo_text {
    text-align: center;
  }
}
